## Extracción de datos

*Importación de librerias

In [236]:
import pandas as pd
import numpy as np
import datetime as date
from sqlalchemy import create_engine

* Creación de Rutas

In [237]:
archivoCsv=(r'C:\Users\fotot\OneDrive\Escritorio\PI 1\PI01_DATA_ENGINEERING\Datasets relevamiento precios\precios_semana_20200413.csv')
archivoJson=(r'C:\Users\fotot\OneDrive\Escritorio\PI 1\PI01_DATA_ENGINEERING\Datasets relevamiento precios\precios_semana_20200503.json')
archivoXlsx=(r'C:\Users\fotot\OneDrive\Escritorio\PI 1\PI01_DATA_ENGINEERING\Datasets relevamiento precios\precios_semanas_20200419_20200426.Xlsx')
archivoParquet=(r'C:\Users\fotot\OneDrive\Escritorio\PI 1\PI01_DATA_ENGINEERING\Datasets relevamiento precios\producto.parquet')
archivoSucursalCsv=(r'C:\Users\fotot\OneDrive\Escritorio\PI 1\PI01_DATA_ENGINEERING\Datasets relevamiento precios\sucursal.csv')
archivoTxt=(r'C:\Users\fotot\OneDrive\Escritorio\PI 1\PI01_DATA_ENGINEERING\Datasets relevamiento precios\precios_semana_20200518.txt')

* Ingesta de Archivos en distintos formatos

In [276]:
df_a=pd.read_csv(archivoCsv, sep= ",", encoding="UTF-16")
df_b=pd.read_json(archivoJson)
df_c=pd.read_excel(archivoXlsx, sheet_name=None)
df_d=pd.read_parquet(archivoParquet)
df_e=pd.read_csv(archivoSucursalCsv)
df_f=pd.read_table(archivoTxt, sep='|')

* Unión de las 2 paginas de archivo Excel

In [239]:
ArchivExc=pd.concat(df_c, ignore_index=True)

# Limpieza de Datos

## Precios

*df1 CSV

In [240]:
#cuento la cantidad de datos duplicados y veo cuales son
df_a.duplicated().sum()
df_a[df_a.duplicated(keep=False)]

         precio    producto_id sucursal_id
27       289.99  0000000216616     9-1-686
28       249.00  0000000221184     9-1-690
29       259.00  0000000221184     9-2-583
30       439.00  0000000221184     9-2-953
31       729.00  0000000230407     9-1-868
32       729.00  0000000230407    9-3-5222
33        68.90  0000000231688     9-1-690
34        69.90  0000000231688     9-2-583
35       110.00  0000000231688     9-2-953
36       859.00  0000000274357     9-1-868
37       399.99  0000000279680     9-1-122
38       204.99  0000000279703     9-1-122
39       239.00  0000000279710     9-1-122
246393      NaN            NaN         NaN
246582    65.90  7791290780170      50-1-2
246583    65.85  7791290780170       6-1-9
246584    65.85  7791290780170      6-2-21
246748      NaN            NaN         NaN
246794    65.90  7791290780170      50-1-2
246795    65.85  7791290780170       6-1-9
246796    65.85  7791290780170      6-2-21
246822    65.90  7791290780170      50-1-2
246823    65.85  7791290780170       6-1-9
246824    65.85  7791290780170      6-2-21
246882      NaN            NaN         NaN
246978      NaN            NaN         NaN
247033      NaN            NaN         NaN
247167      NaN            NaN         NaN
247310      NaN            NaN         NaN
247404      NaN            NaN         NaN
247405      NaN            NaN         NaN
247520      NaN            NaN         NaN
247660      NaN            NaN         NaN
459373      NaN            NaN         NaN
459407  1349.90  7898024397205      18-1-6
459462  1349.90  7898024397205      18-1-6
459514   289.99  0000000216616     9-1-686
459515   249.00  0000000221184     9-1-690
459516   259.00  0000000221184     9-2-583
459517   439.00  0000000221184     9-2-953
459518   729.00  0000000230407     9-1-868
459519   729.00  0000000230407    9-3-5222
459520    68.90  0000000231688     9-1-690
459521    69.90  0000000231688     9-2-583
459522   110.00  0000000231688     9-2-953
459523   859.00  0000000274357     9-1-868
459524   399.99  0000000279680     9-1-122
459525   204.99  0000000279703     9-1-122
459526   239.00  0000000279710     9-1-122
459568      NaN            NaN         NaN

In [242]:
#Elimino duplicados
df_a2=df_a.drop_duplicates()

In [243]:
#sumo datos nulos
df_a2.isnull().sum()

precio         1
producto_id    3
sucursal_id    3
dtype: int64

In [244]:
#elimino datos nulos ya que no representan una variacion importante 
df_a3=df_a2.dropna()

In [245]:
#Paso a String la columna producto_id para poder rellenar con ceros para completar codigo EAN
df_a3['producto_id']=df_a3['producto_id'].astype(str)

C:\Users\fotot\AppData\Local\Temp\ipykernel_12028\3293983362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a3['producto_id']=df_a3['producto_id'].astype(str)

In [246]:
#El siguiente codigo agrega ceros segun corresponda para rellenar el numero a codigo EAN
df_a3['producto_id']=df_a3['producto_id'].str.zfill(13)

C:\Users\fotot\AppData\Local\Temp\ipykernel_12028\3379761986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a3['producto_id']=df_a3['producto_id'].str.zfill(13)

In [247]:
Fecha='2020-04-13'
df_a3[Fecha]=Fecha

C:\Users\fotot\AppData\Local\Temp\ipykernel_12028\2869605916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a3[Fecha]=Fecha

In [248]:
df_a3[Fecha]=pd.to_datetime(df_a3[Fecha])

C:\Users\fotot\AppData\Local\Temp\ipykernel_12028\670489253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a3[Fecha]=pd.to_datetime(df_a3[Fecha])

In [249]:
#Nombro todas las columnas para que sean iguales con las otras tablas
tabla1=df_a3.set_axis(['precio', 'producto_id', 'sucursal_id', 'Fecha'], axis=1)

* Limpieza de segundo archivo df2 JSON

In [250]:
#cuento la cantidad de datos duplicados y veo cuales son
df_b.duplicated().sum()

0

In [181]:
#sumo datos nulos
df_b.isnull().sum()

precio         0
producto_id    0
sucursal_id    0
dtype: int64

In [251]:
#Paso a String la columna producto_id para poder rellenar con ceros para completar codigo EAN
df_b['producto_id']=df_b['producto_id'].astype(str)
#El siguiente codigo agrega ceros segun corresponda para rellenar el numero a codigo EAN
df_b['producto_id']=df_b['producto_id'].str.zfill(13)

In [252]:
#cambio tipo de dato string a float, para manipular los datos como numeros
df_b['precio']=pd.to_numeric(df_b.precio)

In [253]:
#agrego columna fecha
F='2020-05-03'
df_b[F]=F

In [254]:
#agrego columna y convierto el dato en fecha
df_b[F]=pd.to_datetime(df_b[F])

In [255]:
#Nombro todas las columnas para que sean iguales con las otras tablas
tabla4=df_b.set_axis(['precio', 'producto_id', 'sucursal_id', 'Fecha'], axis=1)

*df_c EXCEL

In [256]:
ArchivExc.head()

    precio sucursal_id producto_id
0    399.0     2-1-092      2288.0
1    299.0     2-1-206      2288.0
2    399.0     2-2-241      2288.0
3  49999.0     9-1-430    205870.0
4  53999.0       9-2-4    205870.0

In [257]:
#Saco el punto 0 al final de los valores de la columna producto_id
ArchivExc.producto_id = ArchivExc.producto_id.astype(str).apply(lambda x: x.strip('.0'))

In [258]:
ArchivExc['producto_id']=ArchivExc['producto_id'].astype(str)

In [259]:
#El siguiente codigo agrega ceros segun corresponda para rellenar el numero a codigo EAN
ArchivExc['producto_id']=ArchivExc['producto_id'].str.zfill(13)

In [260]:
#Cambio orden de las columnas
ArchivExc = ArchivExc.reindex(columns=['precio','producto_id','sucursal_id'])

In [261]:
#Saco formato hora de las sucursales y lo paso a string
ArchivExc.sucursal_id = ArchivExc.sucursal_id.astype(str).apply(lambda x: x.strip('00:00:00'))

In [262]:
#Ordenamos los Id que estaban al reves en la columna Sucursal_Id
def OrdenId (n):
    if ' ' in n:
        n = n.split(' ')[0]
        a = n.split('-')[0]
        b = n.split('-')[1]
        c = n.split('-')[2]
        n = c + '-' + b + '-' + a
    return n

ArchivExc['sucursal_id']=ArchivExc['sucursal_id'].apply(OrdenId)

In [263]:
#Agrego columna con fecha
Date1='2020-04-19'
ArchivExc[Date1]=Date1

In [264]:
#Paso columna fecha a dato tipo tiempo
ArchivExc[Date1]=pd.to_datetime(ArchivExc[Date1])

In [265]:
#Nombro todas las columnas para que sean iguales con las otras tablas
tabla3=ArchivExc.set_axis(['precio', 'producto_id', 'sucursal_id', 'Fecha'], axis=1)

* df_f TXT

In [277]:
df_f.tail(5)

        precio    producto_id sucursal_id
415288  149.99  9569753142128      25-1-1
415289   34.99  9795403001143      25-1-1
415290  312.50  9990385651922       5-1-4
415291  312.50  9990385651939       5-1-4
415292  198.90  9990385651946       5-1-4

In [278]:
#Codigo EAN
df_f['producto_id']=df_f['producto_id'].astype(str)
df_f['producto_id']=df_f['producto_id'].str.zfill(13)

In [279]:
#contamos datos Nulos
df_f.isnull().sum()

precio         1960
producto_id       0
sucursal_id       6
dtype: int64

In [280]:
#como los datos nulos estan solo en precio y son muchos, pondremos un promedio para reemplazarlos
promedio=round(df_f['precio'].mean(),2)
df_f['precio'].fillna(promedio,inplace=True)

In [281]:
#Los datos nulos de Sucursal_id los borraremos, ya que no tiene sentido mantenerlos si no sabemos a que sucursal corresonden los datos.
df_f2=df_f.dropna()

In [282]:
df_f2.isnull().sum()

precio         0
producto_id    0
sucursal_id    0
dtype: int64

In [283]:
#Duplicados
df_f2.duplicated().sum()

186

In [284]:
#Borramos los duplicados ya que repiten infomacion 
df_f3=df_f2.drop_duplicates()

In [285]:
#Crear columna para fecha
fecha2='2020-05-18'
df_f3[fecha2]=fecha2

C:\Users\fotot\AppData\Local\Temp\ipykernel_12028\4247168891.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f3[fecha2]=fecha2

In [286]:
#convertir columna fecha en dato tipo fecha
df_f3[fecha2]=pd.to_datetime(df_f3[fecha2])

C:\Users\fotot\AppData\Local\Temp\ipykernel_12028\4011926674.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f3[fecha2]=pd.to_datetime(df_f3[fecha2])

In [287]:
#Nombro todas las columnas para que sean iguales con las otras tablas
tabla2=df_f3.set_axis(['precio', 'producto_id', 'sucursal_id', 'Fecha'], axis=1)

## Unión de todas las tablas precio

In [288]:
#Unir todas las tablas precio
Precios=pd.concat([tabla1,tabla2,tabla3,tabla4],axis=0)

In [289]:
#Verifico Nulos
Precios.isnull().sum()

precio         5667
producto_id       0
sucursal_id       0
Fecha             0
dtype: int64

In [290]:
#Remplazar valores nulos
Precios['precio'].fillna(0,inplace=True)

In [291]:
Precios.isnull().sum()

precio         0
producto_id    0
sucursal_id    0
Fecha          0
dtype: int64

In [292]:
#Saco las ',' que habia al principio en algunos numeros
Precios.precio = Precios.precio.astype(str).apply(lambda x: x.strip(','))

In [293]:
Precios['precio']=pd.to_numeric(Precios.precio)

In [294]:
#Borro registros duplicados
Precio=Precios.drop_duplicates()

In [295]:
Precio.duplicated().sum()

0

In [296]:
Precios.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Precios.csv', index=False)

## Producto

* Limpieza df4 PARQUET

In [297]:
df_d.head()

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
0,0000000001663,LA ANÓNIMA,Radicheta Atada La Anonima 1 Un,1.0 un,None,None,None
1,0000000002288,LA ANÓNIMA,Perejil Atado La Anonima 1 Un,1.0 un,None,None,None
2,0000000205870,SIN MARCA,Ojo de Bife 1 Kg,1.0 kg,None,None,None
3,0000000205894,SIN MARCA,Milanesa de Peceto Novillito 1 Kg,1.0 kg,None,None,None
4,0000000205955,SIN MARCA,Chiquizuela Novillito 1 Kg,1.0 kg,None,None,None

In [298]:
#Le quito la terminacion a nombre, que es la presentacion en la que viene el producto
df_d.nombre = df_d.nombre.astype(str).apply(lambda x: x.strip('0123456789UnKgGr'))

In [299]:
#verifico si tiene duplicados
df_d.duplicated().sum()

0

In [300]:
#Manejo de datos Nulos
df_d.isnull().sum()
df_d['categoria1'].fillna('Sin categoria',inplace=True)
df_d['categoria2'].fillna('Sin categoria',inplace=True)
df_d['categoria3'].fillna('Sin categoria',inplace=True)

In [301]:
df_d['id']=df_d['id'].astype(str)

In [302]:
df_d['id']=df_d['id'].str.zfill(13)

In [303]:
df_d.dtypes

id              object
marca           object
nombre          object
presentacion    object
categoria1      object
categoria2      object
categoria3      object
dtype: object

In [304]:
df_d.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Productos.csv', index=False)

## Sucursal

* df_e CSV

In [305]:
#Verificar si hay datos nulos o duplicados
df_e.isnull().sum()
df_e.duplicated().sum()

0

In [518]:
df_e.head()

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

In [519]:
df_e.dtypes

id                      object
comercioId               int64
banderaId                int64
banderaDescripcion      object
comercioRazonSocial     object
provincia               object
localidad               object
direccion               object
lat                    float64
lng                    float64
sucursalNombre          object
sucursalTipo            object
dtype: object

In [520]:
df_e.to_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Sucursales.csv', index=False)

In [81]:
Sucursal=pd.read_csv(r'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Sucursales.csv')